<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.winwin.project.winwin">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".Config.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.">
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme." />
        <activity
            android:name=".RegestrasiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme." />
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme." />
        <activity android:name=".DaftarClientTagih" />
        <activity
            android:name=".DetailTagihan"
            android:screenOrientation="portrait" />
        <activity android:name=".OperasionalActivity" />
        <activity
            android:name=".TulisCatatan"
            android:label="@string/tuliscatatan" />
        <activity android:name=".Catatan" />
        <activity
            android:name=".HistoryPembayaran"
            android:label="@string/historype" />
        <activity
            android:name=".KomisiActivity"
            android:label="@string/komisi" />
        <activity
            android:name=".DetKomisiActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".HistoryPencairanActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".DataKunjunganActivity"
            android:label="@string/datakunjungan" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/profil" />
        <activity
            android:name=".EditAkunActivity"
            android:label="@string/editakun" />
        <activity android:name=".EditAkunPost" />
        <activity android:name=".AnalistDebt" />
        <activity android:name=".PengambilanVisit" />
        <activity android:name=".RequestCicilan" />
        <activity android:name=".JanjiBayar" />
        <activity android:name=".DetailPelanggan" />
        <activity android:name=".Rekomendiasi" />
        <activity android:name=".DetRequestCicilan" />
        <activity android:name=".CariCustomer" />
        <activity android:name=".DaftarClientSurvey" />
        <activity android:name=".DetailClientSurvey" />
        <activity android:name=".BadDebt" />
        <activity android:name=".ListNotification" />
        <activity android:name=".ListBadCollector" />
        <activity android:name=".ListJanjiBayar"></activity>
    </application>

</manifest>